<div class="dashboard-actions">
  <button class="btn-primary small" routerLink="/add-candidate">
    Add Candidate
  </button>

  <button class="btn-primary small" (click)="onAddProcessClick()">
    Add Process
  </button>
</div>

@if (showAddProcessDialog) {
<app-add-process
  [managerId]="managerId"
  (closeDialog)="showAddProcessDialog = false"
  (processCreated)="onProcessCreated()"
>
</app-add-process>
}

<div class="dashboard-content">
  <div class="dashboard-section">
    <!-- The content is now inside the interview-tracker-info div -->
    <div class="interview-tracker-info">
      <div class="overlay">
        <h1 class="tracker-title">Interview Tracker</h1>
        <p class="tracker-slogan">
          Faster, Smarter, Better Interviews...<br />
          Interview Track is a platform that simplifies and streamlines your
          entire interview process.<br />
          From candidate management to performance tracking, our intuitive
          interface and powerful features ensure a smooth and efficient
          experience Say goodbye to manual paperwork and hello to a more
          organized and data-driven recruitment process.
        </p>
      </div>
    </div>
  </div>

  <div class="dashboard-section">
    <div class="section-header">
      <h2 class="section-title">Active Processes</h2>

      <div class="section-actions">
        <button class="nav-btn" aria-label="Previous">
          <svg class="icon" viewBox="0 0 24 24">
            <polyline points="15,18 9,12 15,6"></polyline>
          </svg>
        </button>

        <button class="nav-btn" aria-label="Next">
          <svg class="icon" viewBox="0 0 24 24">
            <polyline points="9,18 15,12 9,6"></polyline>
          </svg>
        </button>
      </div>
    </div>

    <div class="processes-grid">
      @if (activeProcesses$ | async; as processes) { @for (process of processes;
      track process.processId) {
      <div class="process-card">
        <div class="card-header {{ process.status }}"></div>

        <div class="card-body">
          <h3 class="process-title">{{ process.title }}</h3>

          <span class="candidate-count">
            {{ process.candidateCount }} Candidates
          </span>

          <button
            class="view-process-btn"
            [routerLink]="['/process-profile', process.processId]"
          >
            View Process
          </button>
        </div>
      </div>
      } }
    </div>
  </div>
</div>
